.App {
  text-align: left;
  min-height: 100vh;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgb(23, 51, 51) 0%, rgba(198,158,73,1) 100%);
   padding-left: 40px;
}


.search-form{

min-height: 10vh;
display: flex;
justify-content: center;
align-items: center;

}


.search-bar{ 

  width: 50%;
  padding: 10px;
  margin:5px
}

.btn{
  padding: 10px;
}

.receipe{


display: flex;
justify-content: space-around;
flex-wrap: wrap;

}
